*{
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
    color: #ffffff;
  }
  
  body{
    background-color:#0068df;
  }
  
  .material-icons{
    height: 40px;
    width: 40px;
  }

  /* .material-icons {
    color: #4a4a4a;
    margin: 10px;
    position: fixed;
  
  }
   */
  .material-icons:hover {
    
  }
  
  .menu {
    overflow-x: hidden;
    position: relative;
    left: 0;
    background: rgb(241, 241, 241);
    padding: 10px;
    
  }
  
  .menu-open {
    left: 200px;
    
  }
  
  .menu-open .menu-side {
    left: 0;
    width: 200px;
    justify-content: center;

  }
  
  .menu-side,
  .menu {
    -webkit-transition: left 300ms ease-in-out;
    -moz-transition: left 300ms ease-in-out;
    transition: left 300ms ease-in-out;
  }
  
  .menu-side {
    background-color: #ffffff;
    color: rgb(2, 2, 2);
    position: fixed;
    top: 0;
    left: -230px;
    width: 230px;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .menu-toggle {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  
  ul {
    padding-top: 60px;
    margin: 0;
    padding-left: 15%;
  }
  
  ul li , ul li span{
    margin-top: 20px;
    list-style: none;
    margin-bottom: 40px;
    font-size: 1em;
    color: rgb(75, 75, 75);
    cursor: pointer;
    font-family: sans-serif;
    padding-left: 10px;
    border-left: 3px solid transparent;
  }
  
  li:hover {
    border-left: 5px solid #2c99ff;
    color: rgb(0, 0, 0);
    border-radius: 2px;
  }
  
  .pro-menu{
    color: gold;
    
  }
  
  
  h1 {
    color: #0287e0;
    border-bottom: 3px solid #00BCD4;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 60px;
  }
  
  p {
    margin-top: 20px;
  }
  
  P:last-child {
    margin-bottom: 80px;
  }

  /* WELCOME POPUP STARTS HERE */

  .Click-here:hover{
    transition:background-image 3s ease-in-out;
    background-image: linear-gradient(90deg, #fee140 0%, #f83600 100%);
  }
  .custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
    background-color: #00bbd400;
  }
  .custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin: 30px auto;
    max-width: 97%;
  }
  .custom-model-wrap {
    display: block;
    width: 100%;
    position: relative;
    background-color: #ffffff00;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;    
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
      overflow-y: auto;
  }
  .model-open .custom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
  }
  .model-open .bg-overlay {
   background: rgba(0, 0, 0, 0);
   z-index: 99;
   backdrop-filter: blur(15px);
  }

  .bg-overlay {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
  }

  .close-btn {
    position: absolute;
    right: 0;
    top: -60px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: #fff;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 10px;
    vertical-align: middle;
    margin-bottom: 20px;
  }
  
  @media screen and (min-width:800px){
      .custom-model-main:before {
        content: "";
        display: inline-block;
        height: auto;
        vertical-align: middle;
        margin-right: -0px;
        height: 100%;
      }
  }
  @media screen and (max-width:799px){
    .custom-model-inner{margin-top: 45px;}
  }
  

  .welcome-popup-main{
    height: 550px;
    width: 500px;
    background-color: white;
    display: block;
    justify-content: center;
  }

  .welcome-popup-title{
    font-size: 20px;
    margin-top: 10px;
    color: rgb(107, 107, 107);
    font-family: robo-thin;
  }

  #welcome-tick{
    margin-top: 20px;
  }

  #welcome-hr{
    color: #eee;
    height: 1px;
    width: 90%;
  }

  #name{
    margin-top: -20PX;
    text-align: center;
    color: rgb(23, 23, 23);
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }

  #email{
    text-align: center;
    color: rgb(99, 99, 99);
    font-size: 18px;
    margin-top:-30px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .avathar-title{
    text-align: center;
    color: black;
    font-size: 20px;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #man:hover, #women:hover{
    cursor: pointer;
    height: 100px;
    width: 100px;

    border-radius: 20px;
    box-shadow: 0 3px 10px 3px #d1d1d1;

  }


  #man{
    margin-right: 30px;

  }

  .avathar-images{
    padding-top: 50px;
    display: inline;
    justify-content: center;
    position: relative;

  }

  .profile_im{
    margin-top: 100px;
  }
  
  #name-menu{
    text-align: center;
    color: grey;
    font-size: 17px;
    font-family: sans-serif;
    margin-top: -10px;
  }

  #email-menu{
    text-align: center;
    color: black;
    font-size: 12px;
    margin-top: -15px;
    font-family: sans-serif;
  }

  #menu_hr{
    color: #eee;
    height: 1px;
    width: 80%;
    border-radius: 20px;
  }


  /* CONTENT SECTION CSS  */

  /* HOME  */

  .user_welcome_text{
    color: grey;
    font-size: 25px;
    padding-top: -200px;
  }

  #home {
    width: 63%;
    margin: auto;
    justify-content: center;
    margin-top: -40px;
  }
  
  .home_progress{
    /* CSS STYLE FOR EACH SECTION */
    background-color: white;
    margin-left: -200px;
    height: 200px;
    border-radius: 20px;
   padding-top: 260px;
  }

  #home_dash_titles{
    color: #000000;
    margin-left: 40px;
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .progress-content-sec{
    margin-top: -230px;
    display: inline-flex;
    margin-left: -180px;
  }

  #progress-content{
    cursor: pointer;
    border-radius: 30px;
    padding-left: 10px;
  }

  #progress-content:hover{
    opacity: .5;
  }

  .trending{
    background-color: white;
    margin-left: -200px;
    height: 340px;
    border-radius: 20px;
    margin-top: 30px;
  }

  .trending-title{
    color: black;
    padding-top: 5px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }

  .trending-head{
    padding-top: 20px;
    padding-left: 20px;
    display: inline-flex;
  }

.trending-content-img-1,.trending-content-img-2,.trending-content-img-3{
  height: 250px;
  width: 250px;
  margin-left: 20px;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.trending-content-img-1:hover,.trending-content-img-2:hover,.trending-content-img-3:hover{
  opacity: 0.5;
}


/* PRO CONTENT */

.pro-content-main{
  background-color: white;
  margin-left: -200px;
  height: 340px;
  border-radius: 20px;
  margin-top: 30px;
}

  .pro-content-head{
    color: black;
    padding-top: 5px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    padding-left: 20px;
    display: inline-flex;
  }

.pro-content-img-1,.pro-content-img-2,.pro-content-img-3{
  height: 200px;
  width: 350px;
  margin-left: 20px;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  opacity: .5;
}

.pro-content-img-1:hover,.pro-content-img-2:hover,.pro-content-img-3:hover{
  opacity: 0.5;
}



/* FREE CONTENT */

.free-content-main{
    background-color: white;
    margin-left: -200px;
    height: auto;
    padding:20px 20px 20px 20px;
    width: %;
    border-radius: 20px;
    margin-top: 30px;
    
  }

  .free-content-head{
    color: black;
    padding-top: 5px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }

  .free-content{
    padding-top: 10px;
    
    display: inline-block;
  }

.free-content-img-1,.free-content-img-2,.free-content-img-3{
  height: 180px;
  width: 330px;
  margin-left: 10px;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  
}

.pro-content-img-1:hover,.pro-content-img-2:hover,.pro-content-img-3:hover{
  opacity: 0.5;
}

/* NOTES STYLEING */

.notes{
    background-color: white;
    margin-left: -200px;
    height: 90px;
    border-radius: 20px;
    margin-top: 30px;
    width:  500px;
    cursor: pointer;
    text-decoration: none;
}

.notes-content{
  padding-top: 17px;
  padding-left: 30px;
  text-decoration: none;

}

#note-text{
  color: grey;
  text-decoration: none;

  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -45px;
}

  /* CONTENT */


/* CONTACT US SECTION CSS */


.contact-form-wrapper {
  padding: 100px 0;
  margin-left: -100px;
}

.contact-form {
  padding: 30px 40px;
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 400px;
}

.contact-form textarea {
  resize: none;
}

.contact-form .form-input,
.form-text-area {
  background-color: #f0f4f5;
  height: 50px;
  padding-left: 16px;
}

.contact-form .form-text-area {
  background-color: #f0f4f5;
  height: auto;
  padding-left: 16px;
}

.contact-form .form-control::placeholder {
  color: #aeb4b9;
  font-weight: 500;
  opacity: 1;
}

.contact-form .form-control:-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control::-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}

.contact-form .form-control:focus {
  border-color: #f33fb0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #f33fb0;
}

.contact-form .title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: grey;
}

.contact-form .description {
  color: #aeb4b9;
  font-size: 14px;
  text-align: center;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form .submit-button-wrapper input {
  border: none;
  border-radius: 4px;
  background-color: #f23292;
  color: white;
  text-transform: uppercase;
  padding: 10px 60px;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-form .submit-button-wrapper input:hover {
  background-color: #d30069;
}


.welcome-popup-close{
  height: 50px;
  width: 200px;
  background-color: rgb(34, 195, 152);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 20px;
}



.content-main{
  width: 63%;
    margin: auto;
    justify-content: center;
    margin-top: -40px;
}

#filter-text{
  margin-top: 50px;
  background-color: black;
  color: white;
  height: 35px;
  width: 130px;
  text-align: center;
  padding-top: 8px;
  border-radius: 15px;
  font-size: 15px;
  margin-left: 20px;
}

#filter-text:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}


.filter{
  display: inline-flex;
  margin-left: -10px;
  margin-top: 20px;
}

