#filter-text{
    background-color: black;
    color: white;
    height: 35px;
    width: 130px;
    text-align: center;
    padding-top: 8px;
    border-radius: 15px;
    font-size: 15px;
    margin-left: 20px;
}

#filter-text:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}






.filter{
    display: inline-flex;
    margin-left: -10px;
    margin-top: 20px;
}

